

<div class="row">
	<div class="col-md-offset-1 col-md-8">
		<div class="actions">
				<p><%= link_to pins_path do %>
						<span class="glyphicon glyphicon-arrow-left"></span> Back
					 <% end %>
					 <% if @pin.user == current_user or current_user.admin? %>
					 <%= link_to edit_pin_path(@pin) do %>
					 	<span class="glyphicon glyphicon-edit"></span> Edit
					 <% end %>
					 <%= link_to @pin, method: :delete, data: { confirm: 'Are you sure?' } do %>
              			<span class="glyphicon glyphicon-trash"></span> Delete
            		 <% end %>
            		 <%= link_to new_pin_path(@pin) do %>
					 	<span class="glyphicon glyphicon-plus"></span> Add Another Image
					 <% end %>

				</p>
				</div>
			<div class="panel panel-default">
			<div class="panel-heading center pinshow">
				
				<% end %>
				<p><%= image_tag @pin.image.url %></p>
				
			</div>

			<div class="panel-body">
				<p><%= @pin.description %></p>
				<p class="user"><%= @pin.user.name if @pin.user %></p>
				<br />
				<div class="well well-sm"><strong>Download original image file:</strong><br /> <%= link_to @pin.image.url, @pin.image.url, target: "_blank" %></div>
			</div>

				
		</div>
	</div>
</div>

