<h1>Marketing Profile</h1>

  <div class="asset-actions">
    <% if user_signed_in? %>
      <%= link_to 'Create New Marketing Profile', new_plan_path, class: "btn btn-lg btn-success" %>
    <% end %>
  </div>

  <div class="row">
    <div class="col col-md-8">
     <p>Your Marketing Profile provides us with the information we need to accurately perform search marketing research, create your website Sitemap, and begin competitive analysis.  Once created, you will be able to view and/or edit your Marketing Profile right from this page.
     </p>
     <br />

      <% @plans.each do |plan| %>
        <% if plan.user == current_user %>
          
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4>Business Name: <%= link_to plan.company, plan %></h4>
                <div class="right">
                  <%= link_to plan, method: :delete, data: { confirm: 'Are you sure? This cannot be undone.' } do %>
                    <span class="glyphicon glyphicon-trash"></span> Delete
                  <% end %>
                </div>
                <div class="btn-group">
                  <%= link_to 'View Marketing Profile', plan, class: "btn btn-default" %>
                  <%= link_to 'Edit Marketing Profile', edit_plan_path(plan), class: "btn btn-blue" %>
                </div>
            </div>
          
            <div class="panel-body">
              <p><strong>Project Domain Name:</strong> <%= plan.domain %></p>
              <p><em>Click Edit Plan to complete or update your marketing plan.</em></p>
              <!--
              <%= plan.user.email if plan.user %>
              <%= plan.company %>
              <%= plan.address %>
              <%= plan.phone %>
              <%= plan.fax %>
              <%= plan.tollfree %>
              <%= plan.goals %>
              <%= plan.primary %>
              <%= plan.secondary %>
              <%= plan.demographic %>
              <%= plan.competitors %>
              <%= plan.emails %>
              <%= plan.notes %>
              
              
              -->
            </div>
          </div>

          <% end %>
      <% end %>
    

  </div> <!-- end col md 8 -->

  <%= render 'layouts/sidebar' %>

</div><!-- end row -->
